[submodule "Annotation"]
	path = Annotation
	url = https://github.com/kevoree/kevoree-dotnet-core-api.git
[submodule "Core/Api"]
	path = Core/Api
	url = https://github.com/kevoree/kevoree-dotnet-annotation.git

